html {
  height: 100%;
}

body {
  height: 100%;
  color: #333333;
  background-color: transparent;
  background-image: url(../../images/backgroundimageHomepage.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

#doc4 {
  min-height: 100%;
  position: relative;
  border: 1px solid black;
  font-family: "Barkerville Old Regular", Georgia, Serif;
  letter-spacing: 1px;
}

#navbar {
  text-align: right;
  margin-top: 40px;
}

#navbar ul {
  display: inline;
  margin-right: 20px;
}

#navbar ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

#navbar ul li a {
  color: #333333;
  text-decoration: none;
}

#bd {
  padding-bottom: 45px;
}

#footer {
  height: 45px;
  bottom: 0;
  position: absolute;
}
